.applicationtable {
    width: 100%;

}

.table_headings {
    background-color: rgb(64, 58, 58);
    height: 40px;
    color: orange;
}

.noposthead {
    color: white;
    font-size: xx-large;
    width: 50%;
    margin: 100px auto;
}

.dashboard-icon {
    margin: 0px 10px;
}

.download {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.grey-table {

    font-size: larger;
    background-color: rgb(66, 66, 66);
    color: aliceblue;
    text-align: center;

}



.light-table {
    text-align: center;
    background-color: rgb(138, 138, 124);
    color: aliceblue;
    font-size: larger;

}

.table_heading tr {
    height: 50px;
}

.table_content {
    color: rgb(61, 61, 61);
    width: 100%;
}

.table_content tr {
    height: 50px;
}

.table_content td {
    margin: auto;

}