.first_form_inputs_p_c {
  flex-direction: column;
  color: orange;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  margin: 80px 300px;
  font-size: large;
  font-weight: bold;
}

.first_form_inputs_p_c {
  background-color: rgb(127, 137, 147);
  height: 500px;
  width: 50%;
}

.first_form_inputs_p_c input {

  color: orange;
}

.pcInput {
  color: orange;
  font-size: smaller;
}

.change {
  background-color: gainsboro;
  border-radius: 10px;
  padding: 0px 50px;
  height: 50px;
  border: none;
  color: rgb(97, 95, 95);
}

.change:hover {
  background-color: aliceblue;
}