.hero_container {
    background-color: rgb(39, 85, 107);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_slogan {
    color: #fff;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero_slogan_special {
    color: rgb(255, 115, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.search_field {
    display: flex;
    position: relative;

}

.input_field {
    padding: 12px;
    border: 1px solid grey;
}

.keyword_input_logo {
    position: absolute;
    top: 10px;
    color: orange;
    left: 5px;

}

.category_input_avatar {
    position: absolute;
    left: 190px;
    top: 10px;
    color: orange;
}

.locaton_input_icon {
    top: 10px;
    color: orange;
    position: absolute;
    left: 360px;
}