.job_container {
    background-color: rgb(180, 180, 180, 0.6);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: cne;
    justify-content: center;
    margin: auto;
    padding: 30px 100px;
    margin: 10px;

}

.job_title span {
    background-color: rgb(140, 247, 0);
    border-radius: 10px;
    padding: 10px 200px;
    color: rgb(91, 91, 91, 0.6);
}

.job_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.job_title {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    /* background-color: or; */
    text-transform: uppercase;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.job_Card {
    gap: 10px;
    justify-content: center;
    display: flex;
    border: 1px solid grey;
    padding: 26px 15px;
    background-color: rgb(255, 255, 255);
}

.company_logo {
    display: grid;
    justify-content: center;
    align-items: center;
}

.company_logo img {
    width: 100px;
}

.view_btn {
    text-decoration: none;
    color: blueviolet;

    margin: 10px;
}

.job_category {
    display: flex;
    font-size: small;
    flex-direction: column;
}

.companyName {
    width: 10px;
    display: flex;
    flex-wrap: wrap;
}

.jobtitle {
    width: 90px;
    flex-wrap: wrap;
    display: flex;
}

.experience {
    color: dimgray;
    opacity: 50%;
    width: auto;
    flex-wrap: wrap;
    display: flex;
}

/* } */